main {
	padding: 1rem;
}

.footer-content {
	margin-top: 20px;
}

.social-media a {
	margin: 0 10px;
	display: inline-block;
}

.social-media img {
	height: 24px;
	width: 24px;
}

.hero div {
	width: 100%;
	height: 60vh;
}

.hero div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home {
	display: grid;
	grid-template-rows: auto auto;
	gap: 20px;
	max-width: 95%;
	margin: 2rem auto;
	padding: 1rem;
	grid-template-columns: 1fr;
	grid-template-areas:
		"card1"
		"card2"
		"card3";
}

.card {
	color: #000;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.card-1 {
	grid-area: card1;
}

.card-2 {
	grid-area: card2;
}

.card-3 {
	grid-area: card3;
}

.card-content {
	padding: 20px;
}

/* Dynamically updating last modification date and copyright year */
#year {
	content: attr(data-year);
}

#lastModified {
	content: attr(data-modified);
}
